@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    font-family: "Work Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: #FFF;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    background-color: #1f2937;
}

main {
    margin: 20px 0 0 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #1f2937;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 2rem;
    width: 30em;
    margin: 1rem;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card-body {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#copyrights {
    font-size: 0.8em;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 1em;
}

#footer-container {
    position: fixed;
    bottom: 5px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em 1em;
    height: 3em;
    background-color: #19242a;
}

nav img {
    margin-left: 5px;
    height: 3.5em;
    cursor: pointer;
    transition: 0.5s;
}

nav img:hover {
    transform: scale(1.2)
}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    display: inline-block;
    margin: 0 1em;
    font-size: 1.3em;
    list-style-type: none;
    font-weight: 400;
    font-synthesis: none;
}

nav a {
    text-decoration: none;
    color: #788c82;
    transition: 0.5s;
}

nav a:hover {
    color: #FFF;
}

nav a:hover .fa-caret-down {
    transform: rotate(180deg);
    color: #FFF;
}

.fa-caret-down {
    margin-left: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.dropdown-main:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #19242a;
    font-size: 14px;
    text-align: left;
    list-style: none;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-left: -50px;
    gap: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    width: 30%;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form input {
    padding: 5px 0 5px 5px;
    width: 100%;
    border-radius: 5px;
    caret-color: #F00;
    color: #000;
}


.submit {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d01a1a83;
    transition: 0.5s;
    margin-left: 5px;
}

.submit:hover {
    background-color: #FFF;
    color: #d01a1a83;
}

.other-products {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    width: 45%;
    background-color: #f97111;
    font-size: 1em;
    justify-content: center;
    transition: 0.5s;
    font-weight: 600;
}

.other-products i {
    margin-left: 20px;
    transition: 0.5s;
}

.other-products:hover i {
    transform: translate(5px);
    color: #f97111;
}

.other-products:hover {
    background-color: #FFF;
    color: #f97111;
}