@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    font-family: "Work Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: #FFF;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    background-color: #1f2937;
}

main {
    margin: 20px 0 0 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    background-color: #1f2937;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 2rem;
    width: 25em;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card-header {
    text-align: center;
}

.card-body {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#copyrights {
    font-size: 0.8em;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 1em;
}

#footer-container {
    position: fixed;
    bottom: 5px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1em;
    background-color: #19242a;
}

nav img {
    margin-left: 5px;
    height: 3.5em;
    cursor: pointer;
    transition: 0.5s;
}

nav img:hover {
    transform: scale(1.2)
}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    display: inline-block;
    margin: 0 1em;
    font-size: 1.3em;
    list-style-type: none;
    font-weight: 400;
    font-synthesis: none;
}

nav a {
    text-decoration: none;
    color: #788c82;
    transition: 0.5s;
}

nav a:hover {
    color: #FFF;
}

nav a:hover .fa-caret-down {
    transform: rotate(180deg);
    color: #FFF;
}

nav i {
    color: #788c82;
}

.fa-caret-down {
    margin-left: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.dropdown-main:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #19242a;
    font-size: 14px;
    text-align: left;
    list-style: none;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-left: -50px;
    gap: 5px;
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    width: 30%;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form input {
    padding: 5px 0 5px 5px;
    width: 100%;
    border-radius: 5px;
    caret-color: #F00;
    color: #000;
}


.submit {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d01a1a83;
    transition: 0.5s;
    margin-left: 5px;
}

.submit:hover {
    background-color: #FFF;
    color: #d01a1a83;
}

.other-products {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    background-color: #f97111;
    font-size: 1em;
    justify-content: center;
    transition: 0.5s;
    font-weight: 600;
}

.other-products i {
    margin-left: 20px;
    transition: 0.5s;
}

.other-products:hover i {
    transform: translate(5px);
    color: #f97111;
}

.other-products:hover {
    background-color: #FFF;
    color: #f97111;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.slides-container {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}

.slide {
    flex: 1 0 100%;
}

.slides-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* WebKit */
.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    background-color: transparent;
}

.first-carousel-arrows {
    color: #000;
}

.second-carousel-arrows {
    color: #f97111;
}

.slide-arrow-prev {
    left: 2px;
}

.slide-arrow-next {
    right: 2px;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
        position: fixed;
        top: 40px;
        right: 30px;
        font-size: 2em;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 75px;
        gap: 0;
        flex-direction: column;
        background-color: #19242a;
        width: 100%;
        text-align: center;
        transition: 0.5s;
        z-index: 1;
    }

    .nav-menu li:not(.burger-menu) {
        gap: 10px;
        width: 60%;
        font-size: 1em;
    }

    .nav-menu .fa-cart-shopping {
        margin: 30px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .dropdown-menu {
        margin: 16px auto;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
}