@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");



* {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: "Work Sans", sans-serif;
}

.swal2-icon-content {
    color: #0433ff;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    background-color: #1f2937;
}

main {
    margin: 20px 0 0 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    transition: 0.7s;
}

.address-hidden {
    display: none;
}

.card,
.card-products {
    position: relative;
    background-color: #1f2937;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 1rem 2rem 1rem 2rem;
    width: 25em;
    margin: 1rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.card-products {
    height: 60vh;
}

.card img,
.card-products img {
    width: 100%;
    border-radius: 10px;
    user-select: none;

}

.card-header {
    text-align: center;
}

.card-body {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-cart-button {
    position: absolute;
    color: #FFF;
    background-color: #f97111;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    font-size: 1em;
}

.add-cart-button:hover {
    color: #f97111;
    background-color: #FFF;
}


#copyrights {
    font-size: 0.8em;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 1em;
}

footer {
    background-color: #1f2937;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1em;
    background-color: #19242a;
}

nav a[href="?page=homepage"] {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

nav a[href="?page=homepage"]:hover {
    color: #f97111;
}

nav img {
    margin-left: 5px;
    height: 3.5em;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
}

nav img:hover,
.remove-cart i:hover,
.add-cart i:hover {
    transform: scale(1.2)
}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    display: inline-block;
    margin: 0 1em;
    font-size: 1.3em;
    list-style-type: none;
    font-weight: 400;
    font-synthesis: none;
}

nav a,
nav i,
nav p,
sup {
    text-decoration: none;
    color: #788c82;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
}

nav a:hover,
nav p:hover,
nav i:hover,
nav sup:hover {
    color: #FFF;
}

nav a:hover .fa-caret-down {
    transform: rotate(180deg);
    color: #FFF;
}

nav p:hover .fa-caret-down {
    transform: rotate(180deg);
    color: #FFF;
}


.fa-caret-down {
    margin-left: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.dropdown-main:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #19242a;
    font-size: 14px;
    text-align: left;
    list-style: none;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-left: -50px;
    gap: 5px;
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 30%;
}

option {
    color: #000;
}

.file #image {
    color: #FFF;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form input,
.form textarea {
    padding: 5px 0 5px 5px;
    width: 100%;
    border-radius: 5px;
    caret-color: #F00;
    color: #000;
}

select {
    padding: 5px 0 5px 5px;
    width: 100%;
    border-radius: 5px;
    caret-color: #F00;
    color: #000;
}


.submit {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d01a1a83;
    transition: 0.5s;
    width: 100%;
}

.submit:hover {
    background-color: #FFF;
    color: #d01a1a83;
}

.orange-button {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: #f97111;
    font-size: 1em;
    justify-content: center;
    transition: 0.5s;
    font-weight: 600;
}

.orange-button i {
    margin-left: 20px;
    transition: 0.5s;
}

.orange-button:hover i {
    transform: translate(5px);
    color: #f97111;
}

.orange-button:hover {
    background-color: #FFF;
    color: #f97111;
}

.slider-wrapper {
    position: relative;
    user-select: none;
    overflow: hidden;
}

.slides-container {
    width: 100%;
    display: flex;
    list-style: none;
    user-select: none;
    overflow: scroll;
    scroll-behavior: smooth;
}

.slide {
    flex: 1 0 100%;
    display: flex;
    user-select: none;
    align-items: center;
}

.card-header img {
    max-height: 30vh;
    width: 100%;
    object-fit: contain;
    user-select: none;
}

.slides-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* WebKit */
.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide-arrow {
    user-select: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
}

.carousel-arrows {
    user-select: none;
    color: #FFF;
}

.slide-arrow-prev {
    left: 2px;
}

.slide-arrow-next {
    right: 2px;
}

.burger-menu {
    display: none;
    user-select: none;
    cursor: pointer;
}

.hidden {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hidden label {
    width: 60%;
}

td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

tr {
    border: 1px solid white;
}

.td-images {
    width: 10%;
}

.pay {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

#delete-edit {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.cart-images {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    max-height: 3rem;
    object-fit: contain;
}

.card-products {
    padding-bottom: 5%;
}

span * {
    color: #000;
}

.grey-text {
    color: #788c82;
}

table {
    border: 1px solid white;
    margin: 40px auto;
    border-collapse: collapse;
    width: 80%;
}

table * {
    font-weight: 400;
}

table i {
    font-size: 1.5em;
}

td i {
    padding: 10px;
}


thead th {
    padding: 10px;
    background-color: #52525b;
    text-transform: uppercase;
}

thead th a {
    color: #f6720d;
    text-decoration: none;
    display: inline-block;
    transition: transform .3s ease-out;
}

thead th a:hover {
    transform: translate(0, -2px);
}

.fa-circle-minus,
.fa-circle-plus,
.fa-bag-shopping {
    color: #f6720d;
}

.remove-cart,
.add-cart {
    background-color: transparent;
}

.remove-cart i,
.submit .add-cart i {
    transition: 0.3s;
}

#homepage-container {
    padding-top: 1em;
    justify-content: flex-start;
}


.row-body {
    display: flex;
    flex-wrap: wrap;
}

.row-title {
    font-size: 1.2em;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #f6720d;
}

@media (max-width: 768px) {
    nav {
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
    }

    body {
        margin-top: 20vh;
    }

    .container {
        margin-bottom: 10vh;
    }

    .add-cart-button {
        font-size: 0.8em;
    }

    .burger-menu {
        display: block;
        position: fixed;
        top: 40px;
        right: 30px;
        font-size: 2em;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 75px;
        gap: 0;
        flex-direction: column;
        background-color: #19242a;
        width: 100%;
        text-align: center;
        transition: 0.5s;
        z-index: 1;
    }

    .nav-menu li:not(.burger-menu) {
        gap: 10px;
        width: 60%;
        font-size: 1em;
    }

    .nav-menu .fa-cart-shopping {
        margin: 30px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .dropdown-menu {
        margin: 16px auto;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .not-logged {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        width: 100%;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .td-images img {
        object-fit: cover;
        width: 2rem;

    }

    table * {
        font-size: 0.9em;
    }

    thead *,
    table .pay {
        font-size: 0.8em;
    }

    table .pay {
        width: 100%;
        padding: 5px;
        font-weight: 400;
    }

    td,
    thead th,
    td i {
        padding: 5px;
    }

    .address-form {
        width: 70%;
    }

    .card {
        width: 20em;
    }
}